.button{
    background-color: dodgerblue;
    border: 2px solid goldenrod;
    color: white;
    border-radius: 8px;
}
.country{
    border: 2px solid goldenrod;
    border-radius: 8px;
    margin: 8px 8px 8px 8px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-bg{
    background-color: goldenrod;
}
.img{
    width: 350px;
    height: 200px;
}
.country-name{
    font-size: 35px;
}